.row
  .jumbotron
    %h1
      %span Cuadrante
      .input-group
        %span{ class: "input-group-addon" }
          %i{ class: "glyphicon glyphicon-calendar" }
        %input{ type: "text", id: "quadrant-date", class: "form-control" }

.row
  .col-xs-12
    = draw_quadrant(@date).html_safe
